### General ###
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
/ai_server/myenv/
/ai_server/.cache/
### Build Artifacts ###
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Exclude large files
node_modules/
ai_server/saved_model.pt
ai_server/myenv/
